#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define FN   1

/*
 * Norwegian host-layout aliases.
 * These are physical key positions interpreted by the OS keyboard layout.
 */
#define NO_AA LBKT
#define NO_OE SEMI
#define NO_AE APOS

#define NO_PLUS MINUS
#define NO_MINS SLASH

#define NO_LT   NON_US_BACKSLASH
#define NO_GT   LS(NON_US_BACKSLASH)
#define NO_APOS NON_US_HASH
#define NO_ASTR LS(NON_US_HASH)
#define NO_DIAE RBKT
#define NO_GRV  LS(EQUAL)
#define NO_BSLS RA(MINUS)

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
//          Esc        1        2        3        4        5        6        7        8        9        0        +        Back
            &kp ESC    &kp N1   &kp N2   &kp N3   &kp N4   &kp N5   &kp N6   &kp N7   &kp N8   &kp N9   &kp N0   &kp NO_PLUS &kp BACKSPACE
//          Tab        Q        W        E        R        T        Y        U        I        O        P        AA       Del
            &kp TAB    &kp Q    &kp W    &kp E    &kp R    &kp T    &kp Y    &kp U    &kp I    &kp O    &kp P    &kp NO_AA &kp DELETE
//          Caps       A        S        D        F        G        H        J        K        L        OE       AE       Enter
            &kp CAPSLOCK &kp A  &kp S    &kp D    &kp F    &kp G    &kp H    &kp J    &kp K    &kp L    &kp NO_OE &kp NO_AE &kp ENTER
//          Shift      Z        X        C        V        B        N        M        ,        .        -        Up       Shift
            &kp LSHFT  &kp Z    &kp X    &kp C    &kp V    &kp B    &kp N    &kp M    &kp COMMA &kp DOT  &kp NO_MINS &kp UP &kp RSHFT
//          Ctrl       Win      Alt      Fn       Space    Enter    <gap C6> Space    Fn       AltGr    Left     Down     Right
            &kp LCTRL  &kp LGUI &kp LALT &mo FN   &kp SPACE &kp ENTER &kp SPACE &mo FN &kp RALT &kp LEFT &kp DOWN &kp RIGHT
            >;
        };

        fn_layer {
            display-name = "Fn";
            bindings = <
//          End        F1       F2       F3       F4       F5       F6       F7       F8       F9       F10      F11      F12
            &kp END    &kp F1   &kp F2   &kp F3   &kp F4   &kp F5   &kp F6   &kp F7   &kp F8   &kp F9   &kp F10  &kp F11  &kp F12
//          Tab        <        >        '        *        diaer   `        \        `        O        P        AA       Del
            &trans     &kp NO_LT &kp NO_GT &kp NO_APOS &kp NO_ASTR &kp NO_DIAE &kp NO_GRV &kp NO_BSLS &kp NO_GRV &trans &trans &trans &trans
//          Caps       A        S        D        F        G        H        J        K        L        OE       AE       Home
            &trans     &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &kp HOME
//          Shift      Z        X        C        V        B        N        M        ,        .        -        PgUp     Shift
            &trans     &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &kp PG_UP &trans
//          Ctrl       Win      Alt      Fn       Space    Enter    <gap C6> Space    Fn       AltGr    Left     PgDn     Insert
            &trans     &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &trans   &kp PG_DN &kp INSERT
            >;
        };
    };
};
